<div class="col-sm-2 hidden-xs advertising-wrapper advertising-aside clearfix">
  <div class="advertising advertising-aside-top">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- codesquire-vertical-aside -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:120px;height:240px"
        data-ad-client="ca-pub-6307932957540580"
        data-ad-slot="6279051754"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="advertising advertising-aside-bottom">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- codesquire-vertical-aside -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:120px;height:240px"
        data-ad-client="ca-pub-6307932957540580"
        data-ad-slot="6279051754"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
