<div class="advertising-wrapper clearfix col-sm-6 col-sm-offset-2">
  <div class="advertising advertising-footer">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- codesquire-footer-leaderboard -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-6307932957540580"
        data-ad-slot="5602897352"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
