<div class="advertising-wrapper clearfix">
  <!-- mobile_banner scripts are in footer-->
  <div class="advertising advertising-left">
    <ins class="adsbygoogle"
      style="display:inline-block;width:320px;height:50px"
      data-ad-client="ca-pub-6307932957540580"
      data-ad-slot="6382620152"></ins>
  </div>
  <div class="advertising advertising-right">
    <ins class="adsbygoogle"
      style="display:inline-block;width:320px;height:50px"
      data-ad-client="ca-pub-6307932957540580"
      data-ad-slot="6382620152"></ins>
  </div>
</div>
