      </div><!-- content -->
      <% include advertising-aside.ejs %>
    </div><!-- row -->

    <!--
    <div class="cat well">
      <ul class="nav nav-list">
        <li class="nav-header">categories</li>
        <% getCategories().forEach(function(cat) { %>
          <li><a href="<% categoryURL(cat) %>"><%= cat %></a></li>
        <% }) %>

        <li class="nav-header">tags</li>
        <% getTags().forEach(function(tag) { %>
          <li><a href="<% tagURL(tag) %>"><%= tag %></a></li>
        <% }) %>
      </ul>
    </div>
    -->

    <footer>
      Follow me on <a href="https://plus.google.com/101579508735882012098/?rel=author">Google+</a>
    </footer>

  </body>
 </html>
