<!DOCTYPE html>
<html>
  <head>
    <title>CodeSquire</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
    <% include /analytics.ejs %>
  </head>
  <body>

    <header>
      <a class="title" href="/">
        <img src="/images/loran8bit.png" width="75" />
        <h1>Loran Briggs</h1>
        <h2>Full-Stack Devloper</h2>
      </a>
      <nav>
        <a href='/'>
          Blog
        </a>
        <a href='/about'>
          About
        </a>
        <a href='/portfolio'>
          Portfolio
        </a>
        <a href='/contact'>
          Contact
        </a>
      </nav>
    </header>
    <div class="wrapper">
