<% include includes/header.ejs %>

  <div class="about">
    The name is Loran Briggs and I am a software developer. I have a wide background from Web to desktop to mobile applications. I live in the sunny Los Angeles, CA and coding is my passion.
  </div>

<% include includes/footer.ejs %>
