<% include includes/header.ejs %>

  <h2>G plus post</h2>
  <div class="gplus">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

    <!-- Place this tag where you want the widget to render. -->
    <div class="g-post" data-href="https://plus.google.com/101579508735882012098/posts/KJKFdH1uzjf"></div>
  </div>

<% include includes/footer.ejs %>
