<% include includes/header.ejs %>

<% var posts = getPosts(0,5) %>
<% var page = 1 %>

  <div class="posts">
    <% var i = 0 %>
    <% posts.forEach(function(post){ %>
      <% include includes/postSnippet.ejs %>
      <% if (++i == 2) { %>
        <% include includes/advertising-between-posts.ejs %>
      <% } %>
    <% }) %>
  </div>

<!--<% include includes/pagination.ejs %>-->

<% include includes/footer.ejs %>
