<% include includes/header.ejs %>
  <div class="projects">
    <div class="row">
      <% data.projects.forEach(function(project){ %>
        <% include includes/projectSnippet.ejs %>
      <% }) %>
    </div>
  </div>
<% include includes/footer.ejs %>
