script(type="text/javascript")
  if ( window.innerWidth > 760 ) {
    <!--
    google_ad_client = "ca-pub-6307932957540580";
    /* vertical-banner */
    google_ad_slot = "5049147759";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
  } else {
    <!--
    google_ad_client = "ca-pub-6307932957540580";
    /* mobile_banner */
    google_ad_slot = "6382620152";
    google_ad_width = 320;
    google_ad_height = 50;
    //-->
  }
script(src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
