<!DOCTYPE html>
<html>
  <head>
    <title>CodeSquire</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <div class="row">
      <nav id="main-nav" class="col-sm-2">
        <a href='/'>
          <img src="images/loran8bit.png" width="65" />
        </a>
        <a href='/'>
          <i class="fa fa-file-o"></i>
        </a>
        <a href='/'>
          <i class="fa fa-code"></i>
        </a>
        <a href='/portfolio'>
          <i class="fa fa-rocket"></i>
        </a>
      </nav>
      <div class="col-sm-10">
        <header>
          <h1 class="">&nbsp;<a href='/'>&gt; Codesquire</a><span class="blink">_</span>
        </header>
